@import "tailwindcss";

:root {
  --primary: #f5ca01;
  --primary-light: #f3b200;
  --primary-dark: #ff5600;
  --secondary: #551d40;
}

.sunburst-bg-animated {
  width: 100vw;
  height: 400vw;
  min-width: 4000px;
  min-height: 4000px;
  background: conic-gradient(
    var(--primary) 0deg 22.5deg,
    var(--primary-light) 22.5deg 45deg,
    var(--primary) 45deg 67.5deg,
    var(--primary-light) 67.5deg 90deg,
    var(--primary) 90deg 112.5deg,
    var(--primary-light) 112.5deg 135deg,
    var(--primary) 135deg 157.5deg,
    var(--primary-light) 157.5deg 180deg,
    var(--primary) 180deg 202.5deg,
    var(--primary-light) 202.5deg 225deg,
    var(--primary) 225deg 247.5deg,
    var(--primary-light) 247.5deg 270deg,
    var(--primary) 270deg 292.5deg,
    var(--primary-light) 292.5deg 315deg,
    var(--primary) 315deg 337.5deg,
    var(--primary-light) 337.5deg 360deg
  );
  background-repeat: no-repeat;
  animation: spin-sunburst 200s linear infinite;
  filter: blur(1px);
}

.sunburst-bg-half {
  background: conic-gradient(
    from 270deg at 50% 100%, 
    var(--primary) 0deg 22.5deg,
    var(--primary-light) 22.5deg 45deg,
    var(--primary) 45deg 67.5deg,
    var(--primary-light) 67.5deg 90deg,
    var(--primary) 90deg 112.5deg,
    var(--primary-light) 112.5deg 135deg,
    var(--primary) 135deg 157.5deg,
    var(--primary-light) 157.5deg 180deg,
    transparent 180deg
  );
  filter: blur(1px);
}

@keyframes spin-sunburst {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}