@import "tailwindcss";

:root {
  --primary: #f5ca01;
  --primary-light: #f3b200;
  --primary-dark: #ff5600;
  --secondary: #551d40;
}

.sunburst-bg-animated {
  width: 400vw;
  height: 400vw;
  min-width: unset;
  min-height: unset;
  background: conic-gradient(
    var(--primary) 0deg 11.25deg,
    var(--primary-light) 11.25deg 22.5deg,
    var(--primary) 22.5deg 33.75deg,
    var(--primary-light) 33.75deg 45deg,
    var(--primary) 45deg 56.25deg,
    var(--primary-light) 56.25deg 67.5deg,
    var(--primary) 67.5deg 78.75deg,
    var(--primary-light) 78.75deg 90deg,
    var(--primary) 90deg 101.25deg,
    var(--primary-light) 101.25deg 112.5deg,
    var(--primary) 112.5deg 123.75deg,
    var(--primary-light) 123.75deg 135deg,
    var(--primary) 135deg 146.25deg,
    var(--primary-light) 146.25deg 157.5deg,
    var(--primary) 157.5deg 168.75deg,
    var(--primary-light) 168.75deg 180deg,
    var(--primary) 180deg 191.25deg,
    var(--primary-light) 191.25deg 202.5deg,
    var(--primary) 202.5deg 213.75deg,
    var(--primary-light) 213.75deg 225deg,
    var(--primary) 225deg 236.25deg,
    var(--primary-light) 236.25deg 247.5deg,
    var(--primary) 247.5deg 258.75deg,
    var(--primary-light) 258.75deg 270deg,
    var(--primary) 270deg 281.25deg,
    var(--primary-light) 281.25deg 292.5deg,
    var(--primary) 292.5deg 303.75deg,
    var(--primary-light) 303.75deg 315deg,
    var(--primary) 315deg 326.25deg,
    var(--primary-light) 326.25deg 337.5deg,
    var(--primary) 337.5deg 348.75deg,
    var(--primary-light) 348.75deg 360deg
  );
  background-repeat: no-repeat;
  animation: spin-sunburst 200s linear infinite;
}

@keyframes spin-sunburst {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Clase para rotación de 360 grados */
.rotate-360 {
  animation: rotate-continuous 2s ease-in-out infinite;
}

@keyframes rotate-continuous {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}